@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared styles */
.display-flex{
    display: flex;
}
.dark-01{
    color: #131313;
}
.dark-02{
    color: #424242;
}
.dark-03{
    color: #727272;
}
.dark-04{
    color: #A1A1A1;
}
.dark-05{
    color: #D0D0D0;
}
.dark-06{
    color: #E7E7E7;
}
.dark-07{
    color: #F3F3F3;
}

.gray-text{
    color: #D9D9D9;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
    background-color: #FF900E;
    color: white;
    border-radius: 8px;
    padding: 20px 25px;
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 130px;
}
/* navbar styles */
.nav-items{
    list-style: none;
    margin-right: 30px;
}
.nav-links{
    text-decoration: none;
    font-size: 18px;
    font-weight:500;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.brand{
    font-size: 2.8rem;
    font-weight: bold;
}
/* banner styles */
.banner-content{
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-size: 4rem;
    font-weight: bold;
}
.banner-description{
    font-weight: 400;
    font-size: 1rem;
}
.banner-img{
    width: 100%;
}
/* teams and features related styles */
.teams{
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.our-features{
    margin-left: 130px;
    max-width: 530px;
}
#quick-list{
    font-size: 2.81rem;
    font-weight:500;
}
#of-our{
    font-size: 2.81rem;
    font-weight:bold;
}
#features{
    font-size: 2.81rem;
    font-weight: 800;
    color: #FF900E;
}
.feature-description{
    font-weight: 400;
    font-size: 1rem;
}
/* Some facts */
.features-love-title{
    font-size: 2.81rem;
    font-weight: bold;
}
.features-love-description{
    font-size: 1rem;
    }
/* Responsive Media Query */
@media screen and (max-width:576px) {
    .navbar, 
    .nav-links, 
    .teams{
        flex-direction: column;
    }
    .team-img-container{
        grid-template-columns: repeat(1,1fr);
    }
    .our-features{
        margin-left: 20px;
    }
}
/* Tab size device responsive media query */
@media screen and (min-width:576px) and (max-width:992px) {
    .teams{
        flex-direction: column;
    }
    .our-features{
        margin-left: 48px auto ;
    }
}